body { margin:0; padding:0; background:white; font:1em 'Lucida Grande', Geneva, Arial, Verdana, sans-serif; }
a { color:black; }
#desktop { }
#menu { padding:0.25em; font-size:1em; border-bottom:1px solid black; }
#menu a, #menu a:visited { font-weight:bold; margin:0.25em;}
textarea:focus { outline:none; }

.menu { width:100%; padding:0.25em; font-weight:bold; border-bottom:1px solid black; }
.menu .logo { margin:0 0.5em; }
.menuItem { margin:0 0.25em; white-space:nowrap; font-weight:bold; text-decoration:none; cursor:hand; cursor:pointer; }
.menuItem:hover { text-decoration:underline; }

.disabled { color:#777; cursor:default; }
.disabled:hover { text-decoration:none; }

.window { width:100%; }
.window .window-title-bar { border-bottom:1px solid black; text-align:center; width:100%; padding:0.25em; font-weight:bold; background-image: url('title-bar.png'); background-repeat: repeat-x; background-position:50%; }
.window .window-title { font-weight:bold; background:white; padding:0 1em; }
.window .window-content-frame { padding:0.5em; width:100%; height:100%; }
.window .window-content { width:100%; height:100%; border:none; font:1.0em Helvetica; }

.conflict { margin-bottom:1em; padding-bottom:0.5em; border-bottom:1px solid black; width:100%; }

.revisionLink { display:inline; margin:0 0.5em 0 0; }

.gwt-DialogBox {
	background:white;
	border:3px solid black;
	padding:1em;
}