<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>TaskPaper.com ({{ user_name }})</title>
		<meta id="logout_url" name="logout_url" content="{{ logout_url }}" />
		<script type="text/javascript" language="javascript" src="diff_match_patch.js"></script>
		<script type="text/javascript" language="javascript" src="com.hogbaysoftware.documents.Documents.nocache.js"></script>
	</head>
	
	<body>
		<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
		<div id="desktop"><p id="loading">Loading...</p></div>
	</body>
</html>
